<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Deposit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <form class="form-control" method="post" th:action="@{/deposit}" th:object="${deposit}">
        <h2 class="form-signin-heading">Choose one of the following options</h2>
        <input type="number" th:field="*{value}" class="form-control" placeholder="Deposit value"
               th:autofocus="autofocus">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>

</div>

</body>
</html>